body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: white;
}

p {
  font-size: calc(10px + 0.3em);
  margin-left: 80px;
  margin-right: 80px;
}

.page-body {
  margin-top: 185px;
  z-index: 0;
  text-align: center;
}

.important-text {
  color: #d8ad6c;
  /*font-weight: bold;*/
  /*font-family: 'Indie Flower', cursive;*/
  /*font-family: 'Spectral SC', serif;*/
  font-family: 'Vollkorn SC', serif;
  margin-top: 10px;
  margin-bottom: 0px;
}

.image-60 {
  width: 60%;
}

.image-50 {
  width: 50%;
}

.left-aligned {
  text-align: left;
  margin-top: -10px;
  text-indent: calc(20px + 1em);
}
