.header {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9000;
  background-color: white;
}

.header-bg {
  height: 90px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("champagne.png");
}

.header-text {
  font-family: Snell Roundhand, cursive;
  color: #d8ad6c;
  margin: 10px 0px 0px 0px;
}
